.loggedOut {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  color: white;
  font-family: Sequel100Black-96;
}

@media (min-width: 700px) {
  .loggedOut {
    justify-content: center;
  }
}
