.loggedInWrapper {
display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.loggedIn{
    display: flex;
    outline: none;
    border: none;
    background: none;
}

.loggedInText{
    display: flex;
    flex-direction: column;
}

.loggedInText p {
    display: flex;
    font-size: 14px;
}

.loggedOut {
    display: flex;
    margin-left: 150px;
    width: auto;
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}