.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  height: 400px;
  width: 100%;
  border: 22px solid #ffffff;
}

.wrapper::before {
  content: "";
  position: absolute;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: calc(400px - 22px - 22px);
  border: 2px solid black;
  background: linear-gradient(-45deg, #ffc700, #ff38ff, #bdcbcb);
  background-size: 300% 300%;
  animation: gradient 15s ease infinite;
  z-index: -1;
  /*backdrop-filter: blur(50px);*/
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
